<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>V-show</title>
</head>
<div id="app">
    <p>Lucky Numbers</p>
    <ul>
        <!-- <li v-for="(number, index) in luckyNumbers">{{ index + 1 }} - {{ number }}</li> -->
        <li v-for="(project, index) in person.projects">{{ index + 1 }} - {{ project.name }} completed within {{ project.timeline }}</li>
    </ul>
</div>

<script>
    const {
        createApp
    } = Vue;

    createApp({
        setup() {
            const luckyNumbers = [10, 15, 45, 5, 44];
            const person = {
                name: "hasib",
                projects: [{
                    name: "green 1",
                    timeline: "2years"
                }, {
                    name: "green 2",
                    timeline: "4years"
                }, {
                    name: "green 3",
                    timeline: "6years"
                }, ]
            }

            return {
                luckyNumbers,
                person
            }
        }
    }).mount("#app");
</script>

<body>

</body>

</html>