<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>MovieMenia</title>
</head>

<body>
    <div id="app">

        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">MovieMenia</h4>
                        </div>
                        <div class="card-body">
                            <form v-on:submit.prevent="handleSubmit()">
                                <div class="input-group mt-2">
                                    <span class="input-group-text">Title</span>
                                    <input type="text" placeholder="Enter movie name" v-model="newMovie.title" class="form-control">
                                </div>
                                <div class="input-group mt-2">
                                    <span class="input-group-text">Year</span>
                                    <input type="text" v-model="newMovie.year" placeholder="Enter release year" class="form-control">
                                </div>

                                <div class="input-group mt-3 d-flex gap-3">
                                    <button type="submit" class="btn btn-success">Add Movie</button>
                                    <button type="button" @click="deleteMovie" class="btn btn-danger">Delete</button>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer">
                            <ul class=" list-group">
                                <li v-for="movie in movies" class=" list-group-item d-flex align-items-center justify-content-between">
                                    <span>{{ movie.title }} - {{ movie.year }}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script>
        const {
            createApp,
            reactive
        } = Vue;

        createApp({
            setup() {
                const movies = reactive([{
                    title: "Test 1",
                    year: 2024,
                }, {
                    title: "test2",
                    year: 2012,
                }]);

                const newMovie = reactive({
                    title: "",
                    year: "",
                });

                function handleSubmit() {
                    console.log(newMovie.year);
                    movies.push({
                        title: newMovie.title,
                        year: newMovie.year
                    });

                    // reset form
                    newMovie.title = "";
                    newMovie.year = "";
                }

                function deleteMovie() {
                    movies.pop();

                    alert("Last item deleted");
                }

                return {
                    movies,
                    newMovie,
                    handleSubmit,
                    deleteMovie
                }
            }
        }).mount("#app");
    </script>
</body>

</html>